@import 'assets/scss/Variables.module.scss';

.content {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 36px;
  .box-image {
    text-align: center;
    & img {
      width: 680px;
      height: 680px;
      object-fit: contain;
      border-radius: 4px;
      @media #{$breakpoint-medium} {
        width: 280px;
        height: 280px;
      }
      @media #{$breakpoint-small} {
        width: 280px;
        height: 280px;
      }
    }
  }
  .box-price {
    padding: 32px;
    p {
      font-size: 0.875rem;
      color: $global-color-grey-2;
      text-transform: capitalize;
    }
    h4,
    h1 {
      margin-bottom: 32px;
      span {
        margin-right: 6px;
      }
    }
    h1 {
      font-size: 2.875rem;
    }
    h4{
      font-weight:700;
    }
    button {
      width: 100%;
      border: none;
      background-color: $global-color-blue;
      border-radius: 4px;
      color: white;
      padding: 10px 0px;
      font-weight: 600;
      &:hover {
        background-color: $global-color-blue-1;
      }
      &:active {
        background-color: $global-color-blue-2;
      }
    }
  }
  .box-description {
    padding: 32px;
    h3 {
      color: $global-color-grey-3;
      margin-bottom: 32px;
    }
    p {
      margin: 0;
      color: $global-color-grey-2;
      white-space: pre-line;
    }
  }
}
