.content {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 36px;
  .box-image {
    text-align: center;
    & img {
      width: 680px;
      height: 680px;
      object-fit: contain;
      border-radius: 4px;
    }
  }
  .box-price {
    padding: 32px;
    p {
      font-size: 0.875rem;
      color: #666666;
      text-transform: capitalize;
    }
    h4,
    h1 {
      margin-bottom: 32px;
      span {
        margin-right: 6px;
      }
    }
    h1 {
      font-size: 2.875rem;
    }
    h4{
      font-weight:700;
    }
    button {
      width: 100%;
      border: none;
      background-color: #3483fa;
      border-radius: 4px;
      color: white;
      padding: 10px 0px;
      font-weight: 600;
      &:hover {
        background-color: #2968c8;
      }
      &:active {
        background-color: #1f4e96;
      }
    }
  }
  .box-description {
    padding: 32px;
    h3 {
      color: #333333;
      margin-bottom: 32px;
    }
    p {
      margin: 0;
      color: #666666;
      white-space: pre-line;
    }
  }
}
