// Sizes
$breakpoint-small: "only screen and (max-width: 576px)";
$breakpoint-medium: "only screen and (max-width: 1024px)";
// Colors
$global-color-grey:#eeeeee;
$global-color-grey-1:#999999;
$global-color-grey-2:#666666;
$global-color-grey-3:#333333;
$global-color-yellow:#ffe600;
$global-color-blue:#3483fa;
$global-color-blue-1:#2968c8;
$global-color-blue-2:#1f4e96;
