@import 'assets/scss/Variables.module.scss';

.content {
  background-color: white;
  border-radius: 4px;
  .card {
    border-bottom: 1px solid $global-color-grey;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: $global-color-grey-3;
      text-decoration: none;
      &:hover {
        color: $global-color-grey-2;
        text-decoration: none;
      }
    }
    .box-image {
      padding: 0px 1rem;
      & img {
        width: 180px;
        height: 180px;
        object-fit: contain;
        border-radius: 4px;
      }
    }
    .box-description {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 32px;
        h4 {
          font-weight: normal;
          margin: 0;
          span {
            margin-right: 6px;
          }
        }
        img {
          margin: 0px 10px;
        }
      }
      p {
        font-size: 1.125rem;
      }
    }
    .box-information {
      padding-top: 32px;
      color: $global-color-grey-2;
      font-size: 0.75rem;
      p {
       text-transform: capitalize;
      }
    }
  }
}
