.content {
  background-color: white;
  border-radius: 4px;
  .card {
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    .box-image {
      padding: 0px 1rem;
      & img {
        width: 180px;
        height: 180px;
        object-fit: contain;
        border-radius: 4px;
      }
    }
    .box-description {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 32px;
        h4 {
          font-weight: normal;
          margin: 0;
        }
        img {
          margin: 0px 10px;
        }
      }
    }
    .box-information {
      padding-top: 32px;
    }
  }
}
